# rename this file removing the `.example` part
# and modify it to your needs

# $ is a reserved character, use it to define variables that
# will bee used inside other configuration items.
[main]
$root = "/" # root directory
$data = "$root/Data"
$compile = "$data/Compile"
debug = true
cachedRecipeStore = "$compile/Resources/index.html"

[compile]
archivesDir = "$compile/Archives" #compressed packages are stored here
programsDir = "$data/Rootless/Programs" #all programs are installed here
packagedRecipesPath = "$compile/PackagedRecipes"
localRecipesDir = "$compile/LocalRecipes"
sourcesDir = "$compile/Sources"#where the packages will be extracted
variablesDir = "$data/Variable"
recipeStores = "http://gobolinux.org/recipe-store"


[repository]
ftpGnu = "ftp://ftp.gnu.org/gnu"
ftpAlphaGnu="ftp://alpha.gnu.org/gnu"
httpSourceforge="http://downloads.sourceforge.net"
