# rename this file removing the `.example` part
# and modify it to your needs

# $ is a reserved character, use it to define variables that
# will bee used inside other configuration items.
[main]
$root = "/" # root directory
$depot = "$root/Depot"
programs = "$root/Programs" #all programs are installed here
debug = true #true or false
cachedRecipeStore = "$depot/Resources/index.html"

[compile]
packagesPath = "$root/Packages" #where the compressed packages are saved
archivesDir = "$depot/Archives" #compressed packages are stored here
programsDir = "$root/Programs"
packagedRecipesDir = "$depot/PackagedRecipes"
localRecipesPath = "$depot/LocalRecipes"
sourcesPath = "$depot/Sources"#where the packages will be extracted
recipeStores = "http://gobolinux.org/recipe-store"

[repository]
ftpGnu = "ftp://ftp.gnu.org/gnu"
